html {
    /*background-color:Black !important;*/
}

.well-sm li {
    border: 1px dashed pink;
    width: 50%;
    margin-left: 25%;
}



.fa-globe {
    font-size: 2em;
    font: black;
    list-style: none;
}

.well-lg {
    opacity: 0.9;
}

.well-sm {
}

#emptyP li {
    text-decoration: none;
    list-style: none;
}

.contact-link {
    color: pink !important;
}

body {
    background: url("images/road.jpg") 50% 0 no-repeat fixed;
    z-index: -1;
    color: #fff;
    height: 600px;
    margin: 0;
    padding: 200px 0 260px 0;
    background-size: cover;
    list-style: none;
}


footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
    margin-bottom: 20px;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}